#root {
  /* max-width: 1280px;
  margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center;
  width: 100%; */
  /* height: 100vh; */
  /* display: table; */
  /* background-color: antiquewhite; */
  /* height:100%; */
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 0px 30px blue */
  --main-color-bg: #665A52;
  --light-color-bg: #f3efe6;
  --dark-color-bg: #4a272e;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.main-container {
  /* flex:1; */
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
  /* background-color: green; */
  /* justify-content: center; */
  margin-inline: auto;
  min-height: 100vh;
  width: 1140px;
  box-shadow: 0 0 2.5em 0.5em rgb(168 150 136/ 10%);
}

.container {
  /* background-color: aquamarine; */
  /* flex: 1; */
  min-height: 100vh;
  /* margin-inline: 60px; */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}