.containerMenu {
  /* background-color: blue; */
  /* height: 95%; */
  justify-content: space-evenly;
  flex: 1;
  display: flex;
  align-items: center;
}

.linkActive{
  font-family: Acumin;
  font-weight: bolder;
  /* color: green; */
  text-decoration: inherit;
  font-size: 13px;
}
.linkInactive{
  font-family: Acumin;
  font-weight: lighter;
  /* color: red; */
  text-decoration: inherit;
  font-size: 13px;
}

.linkActive:hover {
  font-weight: bolder;
  color: white;
  /* font-weight: bolder; */

}
.linkInactive:hover {
  font-weight: bolder;
  color: white;
  /* font-weight: bolder; */

}

.groupButtons{
  flex: 2;
  padding-inline: 20px;
  display: flex;
  justify-content: space-evenly;
  /* background-color: red; */
}
.containerLogo{
  /* flex: 1; */
  display: flex;
  justify-content: center;
  /* background-color: red; */
}



