.container {
    font-family: Acumin;
}

.titleRight {
    /* background-color: green; */
    padding-top: 10px;
    /* padding-bottom: 10px; */
    text-align: left;
    padding-left: 140px;
    font-size: 22px;
}

.containerInput {
    /* background-color: yellow; */
    margin-top: 10px;
    display: flex;
    align-items: center
}

.label {
    /* background-color: red; */
    width: 130px;
    text-align: right;
    align-self: center;
}

.input {
    /* width: 70%; */
    width: 60%;
    height: 35px;
    padding-inline: 6px;
    border-radius: 6px;
    border-width: .5px;
    border-color: #a69384;
    margin-block: 6px;
    margin-left: 10px;
}

.inputPhone {
    /* width: 70%; */
    width: 40%;
    height: 35px;
    padding-inline: 6px;
    border-radius: 6px;
    border-width: .5px;
    border-color: #a69384;
    margin-block: 6px;
    margin-left: 10px;
}

.input:disabled {
    background-color: var(--light-color-bg);
}

.inputPhone:disabled {
    background-color: var(--light-color-bg);
}

.input:focus {
    outline-color: var(--main-color-bg);
}

.inputPhone:focus {
    outline-color: var(--main-color-bg);
}

.container select {
    width: 18%;
    margin: 0;
    height: 35px;
    padding-inline: 6px;
    border-radius: 6px;
    border-width: .5px;
    border-color: #a69384;
    margin-block: 6px;
    margin-left: 10px;
}

.container select:disabled {
    background-color: var(--light-color-bg);

}

.container select:focus {
    outline-color: var(--main-color-bg);

}

.contactions {
    /* background-color: beige; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons {
    width: 180px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.update {
    background-color: aqua;
    text-align: right;
    font-weight: bolder;
    letter-spacing: 0;
    color: var(--dark-color-bg);
    padding-top: 20px;
    padding-right: 132px;
}