.title {
  color: black;
}

.containerHeader {
  /* background-color: red; */
  background-color: #A69384;
  display: flex;
  justify-content: space-evenly;
  /* height: 80px; */
  width: 1024px;
  align-items: flex-end;
  /* padding-bottom: 30px; */
}

.logo {
  /* background-color: green; */
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
