.title {
  color: black;
}

.containerHeader {
  /* background-color: red; */
  /* background-color: #A69384; */
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  width: 1024px;
  align-items: flex-end;
  /* padding-bottom: 30px; */
}

.logo {
  /* background-color: green; */
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerMenu {
  /* background-color: yellow; */
  /* height: 95%; */
  justify-content: center;
  /* flex: 3; */
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}

.buttonNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
  width: 120px;
  height: 30px;
  font-size: 15px;
  border-radius: 6px;
}

.buttonNav a {
  text-decoration: none;
  /* color: black; */
}

.buttonNav:active {
  color: red;
}

.buttonNavActive {
  color: white;
  font-weight: bold;
  background-color: #75685e;
}

.containerAccount {
  /* background-color: orange; */
  height: 100%;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5px;
}

.buttonLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  margin-inline: 15px;
  width: 180px;
  height: 40px;
  font-size: 18px;
  /* color: blueviolet; */
}